
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>썬페이</title>
</head>
<style>
@import
url(http //fonts.googleapis.com/earlyaccess/nanumgothic.css)
</style>
<body>
	<div
		style="margin: 50px; background-color: #fff; line-height: 1; font-family: dotum, '돋움'; font-size: 12px; color: #000; word-break: break-all;">
		<div style="height: 110px; border-bottom: 5px solid #f15929;">
			<img src="https://sunpay.co.kr/img/mail/s_high.png" style="height: 100px; float: left;" /> <img src="https://sunpay.co.kr/img/mail/copy.png"
				style="height: 100px; float: right;" />
		</div>
		<div style="margin: 40px 20px 40px 20px;">
			<img src="https://sunpay.co.kr/img/mail/s_wide.png" style="height: 50px" />
			<span
				style="height: 50px; margin-left: 15px; letter-spacing: -0.5px; font-size: 30px; vertical-align: top; line-height: 50px; color: #555555; font-family: 'Nanum Gothic', '나눔고딕';">1:1
				문의가 등록되었습니다.</span>
			<p style="height: 1px; background: #eeeeee; margin-bottom: 40px;"></p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">
				문의 제목:
				<span style="font-size: 15px; color: #000000; line-height: 30px; font-family: 'Nanum Gothic', '나눔고딕';" th:text="${title}"></span>
			</p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">
				작성자:
				<span style="font-size: 15px; color: #000000; line-height: 30px; font-family: 'Nanum Gothic', '나눔고딕';" th:text="${sender}"></span>
			</p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">
				작성자 연락처:
				<span style="font-size: 15px; color: #000000; line-height: 30px; font-family: 'Nanum Gothic', '나눔고딕';" th:text="${contact}"></span>
			</p>
			<p style="font-size: 15px; color: #000000; line-height: 30px; font-family: 'Nanum Gothic', '나눔고딕';">
				<span style="color: #cccccc; font-size: 30px; vertical-align: top; height: 30px; margin-right: 10px;">Q</span>
				<span th:text="${content}"></span>
			</p>
			<p style="height: 1px; background: #eeeeee; margin-top: 40px;"></p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">
				<a th:href="${link}" target="_blank">답변하러 바로가기</a>
			</p>
			<p style="height: 1px; background: #eeeeee; margin-top: 40px;"></p>
		</div>
	</div>
</body>
</html>