<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>썬페이</title>
</head>
<style>
@import
url(http //fonts.googleapis.com/earlyaccess/nanumgothic.css)
</style>
<body>
	<div
		style="margin: 50px; background-color: #fff; line-height: 1; font-family: dotum, '돋움'; font-size: 12px; color: #000; word-break: break-all;">
		<div style="height: 110px; border-bottom: 5px solid #f15929;">
			<img src="https://sunpay.co.kr/img/mail/s_high.png" style="height: 100px; float: left;" /> <img src="https://sunpay.co.kr/img/mail/copy.png"
				style="height: 100px; float: right;" />
		</div>
		<div style="margin: 40px 20px 40px 20px;">
			<img src="https://sunpay.co.kr/img/mail/s_wide.png" style="height: 50px" />
			<span
				style="height: 50px; margin-left: 15px; letter-spacing: -0.5px; font-size: 30px; vertical-align: top; line-height: 50px; color: #555555; font-family: 'Nanum Gothic', '나눔고딕';">SUN
				고객센터입니다.</span>
			<p style="height: 1px; background: #eeeeee; margin-bottom: 40px;"></p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">안녕하세요. (주)썬어셈블솔루션즈 입니다.</p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">
				최초 답변 드린 &#91;
				<span>&#45;&#45;&#45;&#45;&#45;&#45;&#45;</span>
				&#93;건에 대한 수정 답변입니다.
			</p>
			<p style="font-size: 15px; color: #000000; line-height: 30px; font-family: 'Nanum Gothic', '나눔고딕';">
				<span style="color: #cccccc; font-size: 30px; vertical-align: top; height: 30px; margin-right: 10px;">A</span>
				<span th:text="${message}"></span>
			</p>
			<p style="height: 1px; background: #eeeeee; margin-top: 40px;"></p>
		</div>
	</div>
	<div
		style="margin: 50px; background-color: #fff; line-height: 1; font-family: dotum, '돋움'; font-size: 12px; color: #000; word-break: break-all;">
		<div style="height: 110px; border-bottom: 5px solid #f15929;">
			<img src="https://sunpay.co.kr/img/mail/s_high.png" style="height: 100px; float: left;" /> <img src="https://sunpay.co.kr/img/mail/copy.png"
				style="height: 100px; float: right;" />
		</div>
		<div style="margin: 40px 20px 40px 20px;">
			<img src="https://sunpay.co.kr/img/mail/s_wide.png" style="height: 50px" />
			<span
				style="height: 50px; margin-left: 15px; letter-spacing: -0.5px; font-size: 30px; vertical-align: top; line-height: 50px; color: #555555; font-family: 'Nanum Gothic', '나눔고딕';">SUN
				고객센터입니다.</span>
			<p style="height: 1px; background: #eeeeee; margin-bottom: 40px;"></p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">안녕하세요. (주)썬어셈블솔루션즈 입니다.</p>
			<p style="font-size: 18px; color: #000000; font-family: 'Nanum Gothic', '나눔고딕';">
				문의 주신 &#91;
				<span>&#45;&#45;&#45;&#45;&#45;&#45;&#45;</span>
				&#93;건에 대한 답변입니다.
			</p>
			<p style="font-size: 15px; color: #000000; line-height: 30px; font-family: 'Nanum Gothic', '나눔고딕';">
				<span style="color: #cccccc; font-size: 30px; vertical-align: top; height: 30px; margin-right: 10px;">A</span>
				HTML 상에서 특수문자가 제대로 나타나지 않을 수 있기 때문에 아래 문자들를 사용합니다.HTML 상에서 특수문자가 제대로 나타나지 않을 수 있기 때문에 아래 문자들를 사용합니다.HTML 상에서 특수문자가 제대로 나타나지 않을 수 있기 때문에 아래
				문자들를 사용합니다.HTML 상에서 특수문자가 제대로 나타나지 않을 수 있기 때문에 아래 문자들를 사용합니다.HTML 상에서 특수문자가 제대로 나타나지 않을 수 있기 때문에 아래 문자들를 사용합니다.HTML 상에서 특수문자가 제대로 나타나지 않을 수
				있기 때문에 아래 문자들를 사용합니다.
			</p>
			<p style="height: 1px; background: #eeeeee; margin-top: 40px;"></p>
		</div>
	</div>
</body>
</html>